
 <!-- <hr class="featurette-divider"> -->

 <br><br>

<div class="row featurette" >
  <!-- *ngFor="let item of detailsList" -->
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading">{{movie.title}}</h2>
      <span class="text-muted" *ngIf = "movie.title != movie.original_title"> 
        {{movie.original_title}}<br><br>
      </span>
      <p class="lead">{{movie.overview}}</p>
      <br>
      <h5>Release Date: <span class="lead">{{movie.release_date}}</span></h5>
      <h5>Orginal Language: <span class="lead">{{movie.original_language}}</span></h5>
      <h5>Popularity: <span class="lead">{{movie.popularity}}</span></h5>
      <h5>Vote Count: <span class="lead">{{movie.vote_count}}</span></h5>

    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
    </div>
  </div>
